---
import Technology from './Technology.jsx';
---

<style is:global>
  :root {
    --color-calendar-graph-day-bg: #352b34;
    --color-calendar-graph-day-L1-bg: #dd02e1;
    --color-calendar-graph-day-L2-bg: #b419a1;
    --color-calendar-graph-day-L3-bg: #841b7b;
    --color-calendar-graph-day-L4-bg: #710160;
  }

  text.ContributionCalendar-label {
    fill: #ccc;
    font-size: 11px;
  }

  .Link--muted {
    display: none;
  }

  .float-right {
    display: none;
  }

  .graph-before-activity-overview {
    border: none;
  }

  .contrib-column {
    display: none;
  }
  .contrib-column:nth-child(2) {
    padding: 15px 0;

    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .width-full {
    display: none;
  }

  rect.ContributionCalendar-day[data-level='0'] {
    fill: var(--color-calendar-graph-day-bg);
  }

  rect.ContributionCalendar-day[data-level='1'] {
    fill: var(--color-calendar-graph-day-L1-bg);
  }

  rect.ContributionCalendar-day[data-level='2'] {
    fill: var(--color-calendar-graph-day-L2-bg);
  }

  rect.ContributionCalendar-day[data-level='3'] {
    fill: var(--color-calendar-graph-day-L3-bg);
  }

  rect.ContributionCalendar-day[data-level='4'] {
    fill: var(--color-calendar-graph-day-L4-bg);
  }
</style>

<!-- Prepare a container for your calendar. -->
<Technology />

<h2 class="text-purpMain-50 flex justify-center text-2xl mt-12">
  Commit Frequency
</h2>

<div class="calendar p-3 sm:p-4 lg:p-8 pb-32 mb-16">
  <!-- Loading stuff -->
  Loading the data just for you.
</div>

<script>
  // or enable responsive functionality

  GitHubCalendar('.calendar', 'Dezzep', {
    responsive: true,
    summary_text: false,
    global_stats: false,
    cache: false,
  });
</script>
