---
import pdf from '../../Assets/JacobHandelmanCV.pdf';
import { AiOutlineDownload } from 'react-icons/ai';
---

<h1 class="text-4xl sm:text-5xl text-center pt-36">
  My <strong class="text-purpMain-50">Resume</strong>
</h1>

<div class="flex justify-center flex-col mb-6 mt-6">
  <a href={pdf} target="_blank">
    <button
      class="px-7 mx-auto flex gap-2 justify-center items-center bg-purpMain-50/30 p-3 font-semibold hover:bg-purpMain-50/[.2] mt-6"
    >
      <span class="text-xl">
        <AiOutlineDownload />
      </span>
      Download My Resume
    </button>
  </a>
</div>

<div
  class="max-w-3xl p-3 mx-auto my-auto bg-stone-200 border-4 border-gray-700 print:border-0 page print:max-w-letter print:max-h-letter print:mx-0 print:my-o lg:h-letter md:max-w-letter md:h-letter xsm:p-8 sm:p-9 md:p-16 lg:mt-6 rounded-2xl print:bg-white mb-6"
>
  <header
    class="inline-flex items-baseline justify-between w-full mb-3 align-top border-b-8 border-black"
  >
    <div class="block">
      <h1 class="mb-0 text-4xl sm:text-5xl font-bold text-gray-800">
        Jacob Handelman
      </h1>
      <h2 class="m-0 ml-2 text-2xl font-semibold text-gray-700">
        Full Stack Web Development
      </h2>

      <h3 class="m-0 mt-2 ml-2 font-semibold text-md text-gray-600">
        Montreal, Quebec
      </h3>
    </div>
    <div
      class="justify-between px-3 mt-0 mb-5 text-3xl font-bold text-gray-200 initials-container bg-gray-750 print:bg-black"
      style="padding-bottom: 1.5rem; padding-top: 1.5rem;"
    >
      <div class="text-center text-gray-400">J</div>
      <div class="text-center text-gray-400">H</div>
    </div>
  </header>

  <div
    class="col-gap-16 md:col-count-2 print:col-count-2 md:h-letter-col-full print:h-letter-col-full col-fill-balance"
  >
    <section class="pb-4 mt-4 first:mt-0">
      <div class="break-inside-avoid">
        <section class="pb-2 mb-2 border-b-2 border-black break-inside-avoid">
          <ul class="list-inside pr-7">
            <li
              class="mt-1 al text-black transition duration-100 ease-in text-gray-550 text-md hover:text-gray-700 print:"
            >
              <a
                href="https://jacobhandelman.com"
                target="_blank"
                class="group"
              >
                <span class="mr-2 text-lg font-semibold text-gray-700">
                  Portfolio:
                </span>
                jacobhandelman.com
                <span
                  class="inline-block font-normal text-black transition duration-100 ease-in text-gray-550 print:text-black group-hover:text-gray-700 print:"
                >
                  ↗
                </span>
              </a>
            </li>
            <li
              class="mt-1 al transition duration-100 ease-in text-gray-700 text-md hover:text-gray-800"
            >
              <a href="https://github.com/DezzEP" target="_blank" class="group">
                <span class="mr-5 text-lg font-semibold text-gray-700">
                  Github:
                </span>
                DezzEP
                <span
                  class="inline-block font-normal text-black transition duration-100 ease-in print:text-black group-hover:text-gray-800 print:"
                >
                  ↗
                </span>
              </a>
            </li>

            <li
              class="mt-1 al transition duration-100 ease-in text-gray-700 text-md hover:text-gray-700"
            >
              <a href="mailto:jacobhandelman@gmail.com" class="group">
                <span class="mr-8 text-lg font-semibold text-gray-700">
                  Email:
                </span>
                jacobhandelman@gmail.com
                <span
                  class="inline-block font-normal transition duration-100 ease-in text-gray-700 print:text-black group-hover:text-gray-700"
                >
                  ↗
                </span>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </section>
    <section class="pb-4 mt-4 first:mt-0">
      <div class="break-inside-avoid">
        <h2
          class="mb-2 text-lg font-bold tracking-widest text-gray-700 print:font-normal"
        >
          SKILLS
        </h2>
        <section class="mb-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              Full Stack Web Development
            </h3>
          </header>

          <div class="my-1 last:pb-1">
            <ul class="flex flex-wrap text-sm2 -mr-1.6 -mb-1">
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                HTML5
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                CSS3
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                SCSS
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Tailwind.css
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Bootstrap
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Javascript
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Java
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Node.js
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                JSX
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                React
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                React-Router
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Next.js
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Redux
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Astro
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Express.js
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                NoSQL
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                MongoDB
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                MERN
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                SQL
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                OracleDB
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black select-none print:bg-white print:border-inset bg-gray-300"
              >
                Jest
              </li>
            </ul>
          </div>
        </section>

        <section class="mb-2 break-inside-avoid">
          <header>
            <h3 class="font-semibold text-gray-700 text-m">DevOps</h3>
          </header>
          <div class="my-1 last:pb-1">
            <ul class="flex flex-wrap text-sm2 -mr-1 -mb-1">
              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Docker
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Git
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Webpack
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Open Ai
              </li>

              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Ubuntu
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                MacOS 10+
              </li>
              <li
                class="px-2.5 mr-1 mb-1 text-black print:bg-white print:border-inset bg-gray-300 select-none"
              >
                Windows 7/8/10/11
              </li>
            </ul>
          </div>
        </section>
      </div>
    </section>

    <section class="pb-2 mt-4 border-b-4 border-black first:mt-0">
      <div class="break-inside-avoid">
        <h2
          class="mb-2 text-lg font-bold tracking-widest text-gray-700 print:font-normal"
        >
          EXPERIENCE
        </h2>
        <!--Job 1-->
        <section class="mb-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              Proscape Enterprises Inc
            </h3>
            <p class="al text-md text-gray-600 mb-2">April 2019 &ndash; 2022</p>
          </header>
          <ul class="mt-2 text-md text-gray-700 al">
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Read and interpreted blueprints, specifications and schematics
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Used hand tools and power tools to complete skilled deck building
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Completed precise joining and high-quality finish work by properly
              anchoring and bracing structures
            </li>
          </ul>
        </section>
        <section class="mb-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              St-Viateur Bagel
            </h3>
            <p class="al text-md text-gray-600 mb-2">March 2016 &ndash; 2019</p>
          </header>
          <ul class="mt-2 text-md text-gray-700 al">
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Handled customer transactions
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Filled out inventory and production sheets
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Made bagel dough, rolled bagels and baked them.
            </li>
          </ul>
        </section>
        <section class="mb-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              Conform Action Data Systems
            </h3>
            <p class="al text-md text-gray-600 mb-2">June 2014 &ndash; 2016</p>
          </header>
          <ul class="mt-2 text-md text-gray-700 al">
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Processed Material Safety Data Sheets, ensuring that they were up-to-date
              as required by the law.
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Scanned documents and saved them in the database to keep records of
              essential information
            </li>
            <li>
              <span class="transform -translate-y-px select-none text-gray-600">
                &rsaquo;
              </span>
              Corrected data entry errors to prevent duplication or data degradation
            </li>
          </ul>
        </section>
        <!--                Additional Jobs Would Go Here-->
      </div>
    </section>
    <section class="pb-2 mt-4 border-b-2 border-black first:mt-0">
      <div class="break-inside-avoid">
        <h2
          class="mb-2 text-lg font-bold tracking-widest text-gray-700 print:font-normal"
        >
          EDUCATION
        </h2>

        <header>
          <h3 class="flex-grow text-lg font-semibold text-gray-700">
            Vanier College &ndash; AEC
          </h3>
          <p class="al text-md text-gray-500">
            October 2022 &ndash; February 2023
          </p>
          <p class="al text-gray-700 text-md">
            <span class="font-semibold text-gray-700 text-md"> Program:</span>
            Web & Database Programming
          </p>
        </header>

        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Average:</span>
          A+
        </p>
      </div>
    </section>

    <section class="pb-4 mt-4 mb-4 border-black border-b-2 break-inside-avoid">
      <header>
        <h3 class="flex-grow text-lg font-semibold text-gray-700">
          University Of Helsinki &ndash; Certificate
        </h3>
        <p class="al text-md text-gray-500">June 2022 &ndash; Ongoing</p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Course:</span>
          Full Stack Open
        </p>
      </header>
    </section>

    <section class="pb-4 mt-4 mb-4 border-black border-b-2 break-inside-avoid">
      <header>
        <h3 class="flex-grow text-lg font-semibold text-gray-700">
          The Odin Project
        </h3>
        <p class="al text-md text-gray-500">November 2021 &ndash; July 2022</p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Course:</span>
          Fundamentals of Web Development
        </p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Course:</span>
          Intermediate HTML and CSS
        </p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Course:</span>
          Javascript
        </p>
      </header>
    </section>

    <section class="pb-4 mt-4 mb-4 border-black border-b-4 break-inside-avoid">
      <header>
        <h3 class="flex-grow text-lg font-semibold text-gray-700">
          Dawson College
        </h3>
        <p class="al text-md text-gray-500">August 2017 &ndash; 2019</p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Program:</span>
          Early Childhood Education
        </p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Credits:</span>
          24.66
        </p>
        <p class="al text-gray-700 text-md">
          <span class="font-semibold text-gray-700 text-md"> Average:</span>
          A-
        </p>
      </header>
    </section>
    <section class="pb-2 mt-4 border-black border-b-4 first:mt-0">
      <div class="break-inside-avoid">
        <h2
          class="mb-2 text-lg font-bold tracking-widest text-gray-700 print:font-normal"
        >
          PROJECTS
        </h2>
        <section class="pb-4 mb-4 border-black border-b-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              <a
                href="https://github.com/Dezzep/library-rework"
                target="_blank"
                class="group"
              >
                Blogging Platform
                <span
                  class="inline-block mr-3 font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
                >
                  ↗
                </span>
              </a>
              <span
                class="inline-block font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
              >
                <a
                  href="https://github.com/Dezzep/library-rework"
                  target="_blank"
                >
                  <i class="fab fa-github"></i>
                </a>
              </span>
            </h3>
            <p class="al text-md text-gray-600">2023 | LAMP stack</p>
          </header>
          <p class="mt-2.1 text-md text-gray-700 al">
            A blogging platform, where users can create accounts, create, edit,
            and delete posts, and view other users posts. Built with React and
            tailwind for the frontend and a PHP RESTful api for the backend.
          </p>
        </section>
        <section class="pb-4 mb-4 border-black border-b-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              <a
                href="https://github.com/Dezzep/library-rework"
                target="_blank"
                class="group"
              >
                Book Tracker
                <span
                  class="inline-block mr-3 font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
                >
                  ↗
                </span>
              </a>
              <span
                class="inline-block font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
              >
                <a
                  href="https://github.com/Dezzep/library-rework"
                  target="_blank"
                >
                  <i class="fab fa-github"></i>
                </a>
              </span>
            </h3>
            <p class="al text-md text-gray-600">2022 | MERN stack</p>
          </header>
          <p class="mt-2.1 text-md text-gray-700 al">
            A book tracker which allows you to create an account, store books,
            rate them and toggle the read status.
          </p>
        </section>
        <section class="pb-4 mb-4 border-black border-b-2 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              <a
                href="https://github.com/Dezzep/astro_portfolio"
                target="_blank"
                class="group"
              >
                Portfolio Website
                <span
                  class="inline-block mr-3 font-normal transition duration-100 ease-in text-gray-550 print:text-black group-hover:text-gray-700"
                >
                  ↗
                </span>
              </a>
              <span
                class="inline-block font-normal transition duration-100 ease-in text-gray-550 print:text-black group-hover:text-gray-700"
              >
                <a
                  href="https://github.com/Dezzep/astro_portfolio"
                  target="_blank"
                >
                  <i class="fab fa-github"></i>
                </a>
              </span>
            </h3>
            <p class="al text-md text-gray-600">
              Since 2023 | React, Astro, Tailwind
            </p>
          </header>
          <p class="mt-2.1 text-md text-gray-700 al">
            A personal portfolio that displays some of the projects I have
            worked on.
          </p>
        </section>
        <section class="pb-4 mb-4 break-inside-avoid">
          <header>
            <h3 class="text-lg font-semibold text-gray-700">
              <a
                href="https://github.com/Dezzep/shopping-cart"
                target="_blank"
                class="group"
              >
                Shopping Cart
                <span
                  class="inline-block mr-3 font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
                >
                  ↗
                </span>
              </a>
              <span
                class="inline-block font-normal transition duration-100 ease-in text-gray-600 print:text-black group-hover:text-gray-700"
              >
                <a
                  href="https://github.com/Dezzep/shopping-cart"
                  target="_blank"
                >
                  <i class="fab fa-github"></i>
                </a>
              </span>
            </h3>
            <p class="al text-md text-gray-600">2022 | React, Tailwind</p>
          </header>
          <p class="mt-2.1 text-md text-gray-700 al">
            I created this to show off my design skills and to display API data
            in a meaningful way. This project includes and OracleDB branch which
            works with the database to display data and allows users to create
            accounts and buy (fake) items.
          </p>
        </section>
      </div>
    </section>
  </div>
</div>
<div class="flex justify-center flex-col mb-16">
  <a href={pdf} target="_blank">
    <button
      class="px-7 mx-auto flex gap-2 justify-center items-center bg-purpMain-50/30 p-3 font-semibold hover:bg-purpMain-50/[.2] mt-6"
    >
      <span class="text-xl">
        <AiOutlineDownload />
      </span>
      Download My Resume
    </button>
  </a>
</div>
