---
import Layout from '../layouts/Layout.astro';
import Particle from '../components/Particle.jsx';
import Header from '../components/Nav/NavBar.jsx';
import Footer from '../components/Footer/Footer.astro';

import Resume from '../components/Resume/Resume.astro';
---

<Layout title="Resume">
  <div class="bg-black min-h-screen">
    <Header client:load />
    <Resume />

    <Footer />
    <Particle client:idle />
  </div>
</Layout>
