---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Jacob Handelman</title>
    <meta
      name="description"
      content="Jacob Handelman's Portfolio Website. Built with Astro, React, and Tailwindcss"
    />
    <meta
      name="keywords"
      content="Portfolio, Full Stack Developer, Web Developer, Self Taught Developer"
    />
    <meta name="author" content="Jacob Handelman" />
  </head>
  <body class="bg-black">
    <slot />
  </body>
  <script
    src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"
  ></script>
</html>
<style is:global>
  @font-face {
    font-family: 'Raleway', system-ui, sans-serif;
    src: url('/Fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  /* Gutter */
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }

  /* Bar */
  ::-webkit-scrollbar-thumb {
    background: rgba(178, 121, 216, 0.959);
    border-radius: 12px;
  }

  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
  }
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: 'Raleway', system-ui, sans-serif;
    background-color: #f6f6f6;
    font-size: large;
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Raleway', system-ui, sans-serif;
    font-weight: 500;
    color: whitesmoke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  p {
    letter-spacing: 1.1px;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
